{# templates/blog/admin/post-list.html.twig #}
{% extends "admin.html.twig" %}

{% block body %}
    <div class="row align-items-center mb-4">
        <div class="col"><h1 class="mb-2 mb-sm-0">Все записи</h1></div>
        <div class="col-12 col-sm-auto">
            <a class="btn btn-dark" href="{{ url('admin-post-edit') }}">Добавить запись</a>
        </div>
    </div>

    {% for post in blog %}
        <div class="card card-row mb-4">
            <div class="card-body">
                <div class="h2">
                    <a class="link-body-emphasis link-underline-opacity-0" href="{{ url('admin-post-edit', {'id': post.id}) }}">{{ post.title }}</a>
                </div>
                <div class="row gx-4">
                    <div class="col-sm-12 col-md-auto mb-2 mb-md-0">
                        <div class="small text-muted fw-semibold">Status</div>
                        <span class="badge {% if post.status is same as ('draft') %}bg-danger-subtle text-danger-emphasis{% else %}bg-success-subtle text-success-emphasis{% endif %}">{{ post.status }}</span>
                    </div>
                    <div class="col-sm-12 col-md-auto">
                        <div class="small text-muted fw-semibold">{% include 'icon/bs-box-arrow-up-right.svg' %} Link</div>
                        <a class="link-body-emphasis link-underline-opacity-0" href="{{ url('post', {'slug': post.id}) }}" target="_blank">{{ url('post', {'slug': post.slug}) }}</a>
                    </div>
                    {#
                    <div class="col-sm-12 col-md-auto">
                        <div class="small text-muted fw-semibold">{% include 'icon/bs-clock.svg' %} Time</div>
                        <div>2023-11-03T14:22:35+03:00</div>
                    </div>
                    #}
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'paginate/paginate.html.twig' with {'route': 'admin-post-list', 'page': page, 'total': totalPages} only %}
{% endblock %}
