{# templates/blog/admin/post-list.html.twig #}
{% extends "admin.html.twig" %}

{% block body %}
    <div class="row align-items-center mb-4">
        <div class="col"><h1 class="mb-2 mb-sm-0">Все записи</h1></div>
        <div class="col-12 col-sm-auto">
            <a class="btn btn-dark" href="{{ url('admin-post-edit') }}">Добавить запись</a>
        </div>
    </div>

    {% for post in blog %}
        <div class="card card-row mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col h2 mb-0"><a class="link-body-emphasis link-underline-opacity-0" href="{{ url('admin-post-edit', {'id': post.id}) }}">{{ post.title }}</a></div>
                    <div class="col text-end"><span class="badge {% if post.status is same as ('draft') %}bg-danger-subtle text-danger-emphasis{% else %}bg-success-subtle text-success-emphasis{% endif %}">{{ post.status }}</span></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row text-muted small">
                    <div class="col-sm-12 col-md">
                        {% if post.status is not same as ('draft') %}
                            <a class="me-1" href="{{ url('post', {'slug': post.slug}) }}" target="_blank">{% include 'icon/bs-box-arrow-up-right.svg' %}</a>
                        {% endif %}
                        {{ url('post', {'slug': post.slug}) }}
                    </div>
                    {#
                    <div class="col-sm-12 col-md text-md-end">
                        {% include 'icon/bs-clock.svg' %}<span class="ms-1">2023-11-03T14:22:35+03:00</span>
                    </div>
                    #}
                </div>
                {% if post.preview is not empty %}
                    <div class="md-text mt-3">{% apply markdown_to_html %}{{ post.preview }}{% endapply %}</div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% include 'paginate/paginate.html.twig' with {'route': 'admin-post-list', 'page': page, 'total': totalPages} only %}
{% endblock %}
