{% extends 'public.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <h1>Авторизация</h1>

    <form class="form" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {% if error %}
            <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div>
                You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="form__item">
            <label class="form__label" for="inputEmail">E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
        </div>
        <div class="form__item">
            <label class="form__label" for="inputPassword">Пароль</label>
            <input class="form__input" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
        </div>

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <div class="form__item">
            <button class="btn--primary" type="submit">Войти</button>
        </div>
    </form>
{% endblock %}
