{# templates/paginate/_index.html.twig #}

<div class="l-row-flex-space">
    <div class="btn-group">
        <span class="btn-group__item">Сортировка:</span>
        {% for sort in data.sortLinks %}
            <a class="btn-group__item" href="{{ sort.url }}">{{ sort.name|raw }}</a>
        {% endfor %}
    </div>
    <div class="btn-group">
        <div class="btn-group__item">Отступ: {{ meta.offset }}</div>
        <div class="btn-group__item">Шаг: {{ meta.limit }}</div>
        <div class="btn-group__item">Всего: {{ meta.total }}</div>
    </div>
</div>

<div class="list">
    <div class="list__item">
        <div class="list__col list__col--id">id</div>
        <div class="list__col">E-mail</div>
        <div class="list__col">Роли</div>
        <div class="list__col list__col--date">Дата создания</div>
    </div>
    {% for user in data.items %}
        <div class="list__item">
            <div class="list__col list__col--id">{{ user.id|e }}</div>
            <div class="list__col">{{ user.email|e }}</div>
            <div class="list__col">{{ user.roles|join(', ') }}</div>
            <div class="list__col list__col--date">{{ user.createdAt|date(constant('DATE_RFC3339')) }}</div>
        </div>
    {% endfor %}
</div>

<div class="l-row-flex-space">
    <div class="btn-group">
        {% for btn in data.pageLinks %}
            <a class="btn-group__item btn" href="{{ btn.url }}">{{ btn.name|raw }}</a>
        {% endfor %}
    </div>
    <div class="btn-group">
        <div class="btn-group__item">Отступ: {{ meta.offset }}</div>
        <div class="btn-group__item">Шаг: {{ meta.limit }}</div>
        <div class="btn-group__item">Всего: {{ meta.total }}</div>
    </div>
</div>
