{# templates/paginate/_index.html.twig #}

<div class="l-row-flex-space">
    <div class="btn-group">
        <span class="btn-group__item">Сортировка:</span>
        {% for sort in data.sortLinks %}
            <a class="btn-group__item" href="{{ sort.url }}">{{ sort.name|raw }}</a>
        {% endfor %}
    </div>
    <div class="btn-group">
        <div class="btn-group__item">Отступ: {{ meta.offset }}</div>
        <div class="btn-group__item">Шаг: {{ meta.limit }}</div>
        <div class="btn-group__item">Всего: {{ meta.total }}</div>
    </div>
</div>

<style>
    td:nth-of-type(1):before { content: 'id' }
    td:nth-of-type(2):before { content: 'E-mail' }
    td:nth-of-type(3):before { content: 'Роли' }
    td:nth-of-type(4):before { content: 'Дата создания' }
</style>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>E-mail</th>
        <th>Роли</th>
        <th>Дата создания</th>
    </tr>
    </thead>
    <tbody>
    {% for user in data.items %}
        <tr>
            <td>{{ user.id|e }}</td>
            <td>{{ user.email|e }}</td>
            <td>{{ user.roles|join(', ') }}</td>
            <td>{{ user.createdAt|date(constant('DATE_RFC3339')) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="l-row-flex-space">
    <div class="btn-group">
        {% for btn in data.pageLinks %}
            <a class="btn-group__item btn" href="{{ btn.url }}">{{ btn.name|raw }}</a>
        {% endfor %}
    </div>
    <div class="btn-group">
        <div class="btn-group__item">Отступ: {{ meta.offset }}</div>
        <div class="btn-group__item">Шаг: {{ meta.limit }}</div>
        <div class="btn-group__item">Всего: {{ meta.total }}</div>
    </div>
</div>
